doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Choisir une grille CSS

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Pas de vue <br>—<br> Pas de prix

      section
        h2 L'encaissement

      section
        h2.bullet Première révélation
        p.bullet Client qui décide du périmètre & du prix = Arnaque

      section
        h2.bullet Seconde révélation
        p.bullet Le prix donné pour un cahier des charges reste fixe

      section
        h2.bullet Réflexion sur le prix
        p.bullet Le budget d'un client n'est pas extensif

      section
        h2.bullet Si le prix est fixe
        p.bullet C'est à moi de définir le cahier des charges

      section
        h1 Comment que c’est que je fais ?
        p « Sorry for my vosgien »

      section
        h2 Je me mesure
        p.bullet Définir un indice d'expérience
        p.bullet Une journée 450 € / Une semaine 2000 € <br> Une journée 6 heures de travail / Une semaine 4 jours de travail

      section
        h2 J'ouvre les considérations
        p Demander ce qui est prévu pour « l'après »
        p.bullet Mettre en valeur les fondamentaux sur lesquels ne pas transiger
        p.bullet.insist — Nouer une relation de confiance —

      section
        h2 Je recentre sur l'essentiel
        p Prendre soin de des fondamentaux
        p.bullet Responsabiliser le client sur les tests
        p.bullet.insist  — Proposer une stratégie sur la durée —

      section
        h2 Conclusion
        p.bullet Ne jamais donner de « prix »
        p.bullet Proposer une stratégie qui correspond à vos méthodes

      section
        h2 bertrandkeller
        
        p
          a(href='http://bertrandkeller.info') Le blog de bertrandkeller    
        p
          a(href='http://twitter.com/bertrandkeller') @bertrandkeller

    script(src='build/build.js')